<!-- register panel -->

{% extends 'base.html' %}
{% block content %}

<div style="
		width: 100%;
        text-align: center;
        font-family: 'Arial Narrow', Arial, sans-serif;
    ">

	<h1>Supply Chain Finance System</h1>
	<hr align='center' width='1200' size='5' color='#87CEFA'>
	<br>

	<h1>Sign Up Bank</h1>
	<form action='/registerBank/result' method=post enctype=multipart/form-data>
		Bank name <input type=text name=bname><br><br>
		Bank money <input type=text name=money><br><br>
		<input type=submit value=register style="height:40px; width:240px; display:inline-block; text-align:center;font-family: ' Arial Narrow', Arial, sans-serif;">
	</form>
	<br>

	<hr align='center' width='1200' size='5' color='#87CEFA'>

</div>
{% endblock %}
